@use "../../app.scss" as *;

footer{
    img{
        width: 200px;
    }

    h5{
        color: $amarelo;
        font-weight: bolder;
    }

    input{
        margin: 0
    }

    button{
        background-color: $amarelo; 
    }
}